@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Manrope&display=swap');

body{
    height: 100vh;
    background-color: #f1a78f;
    display: grid;
    margin: 0;
    padding: 0;
    width: 100%;
}

canvas:not(#bag){
    pointer-events: none;
}

canvas{
    margin: 3rem;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: inherit;
    font-family: 'Manrope', sans-serif;
}

.item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.parallax-window {
    min-height: 400px;
    background: transparent;
}

.heading{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30rem;
}

.heading h1{
    font-size: 3rem;
    /* font-family: 'Dancing Script', cursive; */

    font-family: 'Manrope', sans-serif;
}

#title{
    height: 50rem;
}

#comicCover
{
    min-height: 40rem;
}

#title{
    z-index: 2;
    position: relative;
}

.title-word {
    animation: color-animation 4s linear infinite;
  }
  
  .title-word-1 {
    --color-1: #ff9e3d;
    --color-2: #709daa;
    --color-3: #ff898f;
  }
  
  .title-word-2 {
    --color-1: #f6ea6c;
    --color-2: #b0d6e2;
    --color-3: #547680;
  }
  
  .title-word-3 {
    --color-1: #b0d6e2;
    --color-2: #ff898f;
    --color-3: #b0d6e2;
  }
  
  .title-word-4 {
    --color-1: #709daa;
    --color-2: #ff9e3d;
    --color-3: #ff898f;
  }
  
  @keyframes color-animation {
    0%    {color: var(--color-1)}
    32%   {color: var(--color-1)}
    33%   {color: var(--color-2)}
    65%   {color: var(--color-2)}
    66%   {color: var(--color-3)}
    99%   {color: var(--color-3)}
    100%  {color: var(--color-1)}
  }